.main {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

p{
padding: 0%;
margin: 0%;

}

.first-child{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80%;
}
.container{
text-align: center;
align-items: center;
margin-top: 5%;

}        
.title {
display: inline-block;
font-size: xx-large;
font-weight: 700;
color: #2F88FB;
border-bottom: 1px solid #2F88FB;
padding-bottom: 6px; 
margin-bottom: 2%;
text-align: center;
}
.first-child .subtitle{
color: #5FD068;
font-size: x-large;
font-weight: 700;
margin: 2%;
width: 100%;

}
.first-child .text {
display: flex;
flex-direction: column;
text-align: left;
font-size: 14px;
font-weight: 300;
color: #3A3939;

}
.first-child img {
width: 100%;
}

@media screen and (max-width: 500px) {
    .first-child{
        width: 98%;
    }
}
